*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* class */


.answer-open {
    height: 5vw; width: 55vw;
    margin-left: 22vw;
    overflow: hidden;
    margin-bottom: 1vw;
}

.answer-open > button
{
    height: 5vw; width: 55vw;
    font-size: 1.5vw;
    background-color: #303030;
    color: white;
    border: 0; 
    padding: 1vw;
    text-align: left;
}

.answer-open > p {
    padding: 1vw;
}

.answer-open:hover {
    text-align: left;
    transition: 1s;
    height: 21vw;
    font-size: 1.5vw;
    border: 0;
    background-color: #303030;
    color: white;
}

body {
    background-color: #030104;
}

.column-1 {
    position: absolute;
    top: 2vw; left: 3vw;
}


.column-2 {
    position: absolute;
    top: 2vw; left: 18vw;
}

.column-3 {
    position: absolute;
    top: 2vw; left: 34vw;
}

.column-4 {
    position: absolute;
    top: 2vw; left: 51vw;
}

.favicon
{
    height: 3.5vw;
    position: relative;
    left:1vw;  top: 2.4vw;
}

.footer {
    height: 25vw; width: 100%;
}
.footer-items {
    position: relative;
    left: 19vw; top: 6vw;
    height: 12vw; width: 61vw;
    text-align: left;
}

.footer-top {
    position: relative;
    left: -18.4vw; bottom: -6vw;
    color: #757575;
    font-size: 1rem;
}

.get-started-button:hover
{
    background-color: #f20a15;
}

.get-started-button {
    font-size: 1.8vw;
    display: inline-block;
    text-align: center;
    height: 5vw; width: 15vw;
    background-color: #e3101a;
    color: white;
    border: 0;
}

.gif {
    height: 20vw;
    width: auto;
    border-radius: 100%;
}

.gif-2 {
    position: relative;
    top: 6vw;
    height: 11vw; width: auto;
    border-radius: 10px;
    border: solid white;
    background-color: white;
    padding: .5vw 3.2vw .5vw .5vw;
}


.gif-2-button {
    position: relative;
    left: -3.7vw; top: 2vw;
    height: 3vw; width: 3vw;
    display: inline-block;
}

.gif-4-button
{
    position: relative;
    right: 3.5vw; top: -0.5vw;
    height: 3vw; width: 3vw;
    display: inline-block;
}

hr {
    border: 0;
    height: 9px;
    background-color: #222222 !important;
}

.last-section {

    text-align: center;
    background-color: #030104;
    color: white;
    margin-top: 5vw;
}


li {
    display: block;
    height: 2.5vw;
    list-style: none;
    font-size: 1rem;
    color: #757575;
}


.login-button {
    position: absolute;
    top: 2.4vw; right: 3vw;
    height: 2.5vw; width: 6vw;
    color: white; 
    padding-top: 0.4vw;
    text-align: center;
    background-color: #E50914;
    font-size: 1.3vw;
    border-radius: 5px;
    font-family: sans-serif;
}

.pos-4-1
{
    left: -4vw;
}

.pos-4-2 {
    right: -4vw;
}

.pos-gif-4
{
    top: 4vw;
    height: 12vw;
}

.q-2:hover {
    height: 13vw;
}

.q-3:hover {
    height: 25vw;
}

.search-and-start {
    /* font-size: 0; */
    /* height: 5vw; width: 50vw; */
    position: relative;
    display: flex;
    left: -15%;
    /* margin-bottom: 30vw; */
}

.search-start-bottom {
    font-size: 0;
    height: 5vw; width: 50vw;
    position: relative;
    display: flex;
    left: 25vw;
    background-color: #030104;
    margin-bottom: 5vw;
    
}

.search-bar {
    border: 0;
    display: inline-block;
    height: 5vw; width: 35vw;
    font-size: 1vw;
}


.section-1
{
    height: 800px;
    background: url(./favicon.png) no-repeat center;
    background-color: #030104; 
    display: block;
} 

.section-2 {
    display: flex;
    justify-content: center;
    height: 35vw;
    background-color: #030104;
    color: white;
}

.section-1-mid {
    /* height: 40%; */
    width: 40vw;
    text-align: center;
    left: 30vw; right: 30vw;
    top: 23vw;
    position: absolute;
    font-family: 'Otomanopee One', sans-serif;
    color: white;
    font-weight: 540;
    
}

.section-2-part-1 {
    display: inline-block;
    position: relative;
    top: 10vw; left: -5vw;
    font-weight: 550;
}

.section-2-part-2 {
    display: inline-block;
    position: relative;
    top: 5vw; right: -2vw;
}

.section-3-part-1 {
    display: inline-block;
    position: relative;
    top: 5vw; left: -5vw;
    font-weight: 550;
}

.section-3-part-2 {
    display: inline-block;
    position: relative;
    top: 10vw; right: -2vw;
}

.website-name {
    position: absolute;
    top: 2vw; left: 5vw;
    border-radius: 10px;
    font-family: 'Otomanopee One', sans-serif;
    color: white;
    font-size: 3vw;
}

